{% extends '../template/template.twig' %}
{% block content %}
<form class="form-inline center">
  <div class="form-group mb-2">
    <label for="staticWallet" class="sr-only">Your Wallet</label>
    <input type="text" readonly class="form-control-plaintext" id="staticWallet" value="Wallet">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <select class="form-control" name="completion" id="exampleFormControlSelect1" placeholder="Select">
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Go !</button>
</form>

{% endblock %}