{% extends '../template/templateLog.twig' %}
{% block content %}
{% for error in errors %}
            <div class="alert alert-danger col-md-12" role="alert">
                {{error.message}}
            </div>
{% endfor %}
<div class="container">
    <h1>{{movieName}}</h1>
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
{% endblock %}